Flask
Flask-Cors
gpt3-tokenizer
google
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
googleapis-common-protos
gunicorn
langchain
#langchain-gpt
#langchain-memory
nltk
numpy
openai
Pillow
PyPDF2
python-dateutil
python-jose
pytesseract
requests
scikit-learn
weaviate-client
werkzeug
